fieldset {
  font-size: 2rem;
}

#queue-fieldset {

  ol {
    margin: 0;
  }

  li {
    width: 45%;
    float: left;
    height: 4rem;
    margin-bottom: 1rem;

    img {
      height: 4rem;
      vertical-align: middle;
      border: 1px solid #888;
    }
  }

  li:nth-of-type(odd) {
    margin-right: 2rem;
  }

}

#to-line-up-flags {

  img {
    margin-top: 1rem;
    height: 10vh;
    float: left;
    margin-right: 2rem;
    border: 1px solid #888;
  }
}


#current-team-fieldset {
  height: 30vh;

  img {
    height: 100%;
    border: 1px solid #888;
  }
}

#start-button {
  font-size: 2rem;
  width: 80%;
  height: 10vh;
  margin-top: 6vh;
}
